body {
    background: #65555551;
    margin: 0;
    padding: 0;

}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float: left;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.swing img {
    border: 5px solid #f8f8f8;
    display: block;
}

.swing:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    top: -10px;
    left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

/* nail */
.swing:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: -14px;
    left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}

@keyframes swing {
    0% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}



.title {
    text-align: center;
    color: red;
}

.monaliza {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.name {
    height: 40vh;
    width: 40%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    box-shadow: 5px 5px 50px 1px #999;
    transition: 1s;
}

button {
    box-shadow: 5px 5px 50px 1px #999;
    border-radius: 10px;
    margin: auto;
    border: none;
}

.change-color {
    background-color: red;
    transition: 1s;
}

/*nav*/
.navbar-nav a {
    color: #fff;
    font-size: large;
}